    /* Style général 
body {
    background-image: url(image/info.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    background-color: #7c7c7d;
}*/

body {
    background-image: url('image/info.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    background-attachment: fixed; /* permet de scroller sur une image fixe */
    margin: 0;
    height: 100%;
    color: #f4f4f9; /* couleur du texte */
}

.my-5 {
    
    background-color: transparent; /* fond transparent */
}

a{
    color: black;
}
p{
    color: #f4f4f9;
}
h2 {
    color: #f8f3f3;
}

.mb-3{
  border: 2px solid #8f8b8b;      /* bordure noire */
  padding: 15px;               /* espace autour du texte */
  width: 500px;          /* ajuste la largeur au texte */
  margin: 20px auto;           /* centre horizontalement */
  border-radius: 8px;          /* coins arrondis */
  background-color: #fcfcfc;   /* fond doux */
  text-align: center;          /* texte centré */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* ombre légère */
}


#about img {
    max-width: 100%;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

/* Style footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Image de fond sur toute la page, y compris la navbar */


/* Navbar avec fond semi-transparent */
.custom-navbar {
    background-color: rgba(0, 0, 0, 0.6); /* fond sombre mais transparent */
}

/* Texte de la navbar en blanc */
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: white !important;
}

/* Optionnel : rendre le texte de la navbar actif visible */
.custom-navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

